.chat-input {
    width: 100%;
    height: 4ch;
    display: grid;
    grid-template-columns: 80% 10% 10%;
}

.chatbox-wrapper {
    width: 100%;
    height: 460px;
    overflow: auto;
}

.full {
    width: 100%;
    height: 100%;
}