.emoji-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}