body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: teal;
}

.header-seperator {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 10% 90%;
}

.navigation-and-content-seperator {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: violet;
}

.page-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.full {
    width: 100%;
    height: 100%;
}